:root {
    --primary-text-color--: #757575;
    --title-text-color--: #212121;
    --accent-color--: #2196F3;
    --primary-bg-color--: #FFFFFF;
    --hero-bg-color--:#2F303A;
    --team-bg-color--:#F5F4FA;
}



body {
   color: var(--primary-text-color--);
   background-color:var(--primary-bg-color--);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   font-size: 14px;
   line-height: 1.71;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logo {
    color:var(--title-text-color--);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: 700;
}

h1, h2, h3 {
    color:var(--title-text-color--);
}

.link:hover,
.link:focus {
    color: var(--accent-color--);
}
.link {
    color: var(--title-text-color--);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/*buttons*/

.button:hover,
.button {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px, 32px;
    display: inline-block;
    min-width: 152px;
    text-align: center;
    border: 1px solid transparent;
 }

 .button {
    margin-bottom:  200px;
 }

 .button-nav:hover,
 .button-nav:focus {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
}
.button-nav { 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px, 22px;
    display: inline-block;
    min-width: 23px;
    text-align: center;
    border: 1px solid transparent;
    margin: 8px
    
 
}


/*page-header*/

.page-header {
    color: var(--title-text-color--);
    border: 1px solid #ECECEC;

}
.Web {
    color: var(--accent-color--);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.Studio {
    color: #F5F5F5;
}

.logo:focus {
    color: var(--accent-color--)
}

.site-nav > .item {
    color: #212121;
    display: block;
    padding: 32px;
    margin-left: 93px;
  
}
.site-nav {
    display: flex;
}

.site-nav .item:last-child {

    margin-right: 0px;
}


.link.current {
    font-family: inherit;
    color: var(--accent-color--);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

}


.hero {
    background: var(--hero-bg-color--);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 94px;
    
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color--);
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 200px;
   
}

.advantages {
    display: flex;
    padding: 94px, 0px, 118px, 0px;
}
.section-title {
 
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-top: 94px;
}

.team {
    background: var(--team-bg-color--);
  
}

.colleagues {
    display: flex;
    margin-top: 50px;  
    padding:  94px;

}

.man {
    display: block;
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.feature-list-title {
 
    line-height: 1.14;
    color: var(--title-text-color--);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 10px;

     
}

.text {
    margin-top: 0px;
    margin-bottom: 118px;
    margin-right: 30px;
    width: 270px;
  

}

.people {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color--);
}

.position {
    
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color--);

}


.footer {
    background: var(--hero-bg-color--);
}

.projects {
    color: var(--title-text-color--);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;

   
}

.objects {
    font-size: 16px;
    line-height: 1.86;
    text-decoration: none;
    color: var(--primary-text-color--);
    
}

.contacts {

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-top: 20px
    

}


.site-nav  .item + .item {
    margin-left: 50px;
}

 .studia {
    color: #212121;
 }

 .link-a {
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 9px;

 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .link-mail-header, .link-phone-header {
    color: var(--primary-text-color--);
    text-decoration: none;
    padding: 32px, 0px;
 }

 .link-mail-footer, .link-phone-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
   
   
 }



 .container-nav {

     display: block;

 }

 .section {
    padding-top: 94px;
    padding-bottom: 94px;
 }

 .no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
 }

 .container {
    width: 1200px;
    padding: 0px, 15px;
    margin: auto;

 }

 .container-nav {
    display: flex;
    align-items: center;
   
 }



 .contacts-header {
     margin-left:auto;
     text-align: center;
     display: flex;

 }

 .contacts-header .item
 {
    margin-right: 50px;
 }

 .work {
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
 }

 .image {
    display: block;
    margin: 30px;
 
 }

 .contacts-footer {
    padding: 111px;
 }

 .buttons {
    display: flex;
    margin-top: 100px;
    margin-bottom: 56px;
    justify-content: center;


 }

 .projects-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
    
  
 }

 .projects-item:nth-child(3n) {
    margin-right: 0;

 }
.projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
 }
.projects-item {
    margin-right: 30px;
    width: calc((100% - 2 * 30px) / 3);
   


}

.border  {

border: 1px solid #EEEEEE;
border-top: none;
margin-bottom: 30px;
padding-left: 24px;
padding-right: 24px;
width: 320px;
margin-top: -30px;
   
}
