:root {
    --primary-text-color--: #757575;
    --title-text-color--: #212121;
    --accent-color--: #2196F3;
    --primary-bg-color--: #FFFFFF;
    --hero-bg-color--:#2F303A;
    --team-bg-color--:#F5F4FA;
}


body {
   color: var(--primary-text-color--);
   background-color:var(--primary-bg-color--);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   font-size: 14px;
   line-height: 1.71;
}

ul {
    list-style: none;
}

.logo {
    color:var(--title-text-color--);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: 700;
}

h1, h2, h3 {
    color:var(--title-text-color--);
}

.link:hover,
.link:focus {
    color: var(--accent-color--);
}
.link {
    color: var(--primary-text-color--);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/*buttons*/

.button:hover,
.button {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
    cursor: pointer;
    
 }

 .button-nav:hover,
 .button-nav:focus {
    color: var(--primary-bg-color--);
    background-color: var(--accent-color--);
}
.button-nav { 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-decoration: none;
    cursor: pointer;
}

 


/*page-header*/

.page-header {
    color: var(--title-text-color--);
}
.Web {
    color: var(--accent-color--);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.Studio {
    color: #F5F5F5;
}

.logo:focus {
    color: var(--accent-color--)
}

.site-nav .link.current {
    font-family: inherit;
    color: var(--accent-color--);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

}


.hero {
    background: var(--hero-bg-color--);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-bg-color--);
}

.section-title {
 
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    background: var(--team-bg-color--);
}

.feature-list-title {
 
    line-height: 1.14;
     
}

.people {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color--);
}

.position {
    
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color--);

}


.footer {
    background: var(--hero-bg-color--);
}

.projects {
    color: var(--title-text-color--);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

   
}

.objects {
    font-size: 16px;
    line-height: 1.86;
    text-decoration: none;
    color: var(--primary-text-color--);
    
}

.contacts {

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;

}
 .studia {
    color: #212121;
 }

 .link-a {
    color: #FFFFFF;
    text-decoration: none;
 }
